body {
   margin-left: 60px;
   margin-right: 60px;
   font-family: 'Roboto', sans-serif;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 20%;
}

/* Style the tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

#Home { background-color:red; } 
#Product { background-color:green; } 
#Contact { background-color:blue; } 
#About { background-color:orange; } 
#Logout { background-color: purple; }


